*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.white{
    width: 100%;
    height: 30vh;
    /* background-color: rgb(194, 188, 188); */
    
}
.main{
    display: flex;
    flex-direction: column;
}

.yellow{
    width: 100%;
    height: 70vh;
    background-color: #f0c50b;
    color: black;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.yellow>img{
    width: 23vw;
    height: 30rem;
    transform: translateY(-5rem);
}

.yellow>.text{
    width: 30vw;
    height: 20rem;
    /* background-color: rebeccapurple; */
    /* padding: 2rem; */
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    text-align: center;
}
.yellow>.text>h1{
    font-size: 3rem;
    font-weight:700;
}
.yellow>.text>.first_P{
    font-size: 0.8rem;
    font-weight: 700;
}
.yellow>.text>.second_P{
    font-size: 0.7rem;
    font-weight: 700;
}

.yellow>.text>.third_P{
    width: 9rem;
    /* height: 3rem; */
    padding: 3%;
    background-color: black;
    color: white;
    font-size:small;
    /* text-align: center; */
}


@media only screen and (max-width: 768px) {
    :root{
        font-size: 16px;
    }
    .yellow>img{
        width: 23vw;
        height: 30rem;
        transform: translateY(-5rem);
    }
    .yellow>.text{
        /* background-color: red; */
        margin-top: 2rem;
        width: 32vw;
        /* transform: translateY(-55px); */
    }
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .yellow{
        flex-direction: column;
        align-items: center;
    }
    :root{
        font-size: 12px;
    }
    .yellow>.text{
        /* background-color: red; */
        width: 80vw;
        transform: translateY(-55px);
    }
    .yellow>img{
        width: 23vw;
        height: 30rem;
        transform: translateY(-5rem);
    }
    
}